ops/rubabs-digital-enquiry-workflow.json
{
  "name": "Rubabs Digital Enquiry Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rubabs-digital-enquiry",
        "responseMode": "lastNode"
      },
      "id": "Webhook_1",
      "name": "Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"ops\"][\"priority\"]}}",
              "operation": "equal",
              "value2": "high"
            }
          ]
        }
      },
      "id": "If_1",
      "name": "High Priority?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json[\"telegramText\"] + \"\\nPriority: \" + $json[\"ops\"][\"priority\"] + \"\\nStatus: \" + $json[\"ops\"][\"inboxStatus\"]}}"
      },
      "id": "Telegram_1",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [770, 210]
    },
    {
      "parameters": {
        "sendTo": "ops@rubabsdigital.com",
        "subject": "={{$json[\"subject\"]}}",
        "emailType": "html",
        "message": "={{$json[\"html\"]}}"
      },
      "id": "Email_1",
      "name": "Ops Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [770, 390]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"received\": true, \"priority\": $json[\"ops\"][\"priority\"] } }}"
      },
      "id": "Respond_1",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1030, 300]
    }
  ],
  "connections": {
    "Webhook Entry": {
      "main": [
        [
          {
            "node": "High Priority?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority?": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ops Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ops Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
